<aside id="sidebar" class="js-sidebar" [ngClass]="{'collapsed':isCollapsed}">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a routerLink="/" class="d-flex align-items-center pt-3"><span class="fs-5 fw-semibold">Vietcode</span></a>
                </div>
                <hr class="border border-light">
                <ul class="sidebar-nav">
                    <li class="sidebar-item mb-1">
                        <a class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Functions
                        </a>
                    </li>
                    <li *ngIf="isAdmin" class="sidebar-item mb-1">
                        <a routerLink="/manage/dishes" class="sidebar-link collapsed" data-bs-target="#pages"
                            aria-expanded="false">
                            Menu Management
                        </a>
                    </li>
                   <li *ngIf="isAdmin||isKitchenSupervisor" class="sidebar-item mb-1">
                        <a routerLink="/manage/ordered-dishes" class="sidebar-link collapsed" data-bs-target="#pages"
                            aria-expanded="false">
                            Ordered Dishes Management
                        </a>
                    </li>
                    <li *ngIf="isAdmin||isCashier" class="sidebar-item mb-1">
                        <a  class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                            aria-expanded="false">
                            Cashier Management
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a routerLink="/manage/unpaid-orders" class="sidebar-link">Unpaid Orders</a>
                            </li>
                            <li class="sidebar-item">
                                <a routerLink="manage/paid-orders" class="sidebar-link">Paid Orders</a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="isAdmin" class="sidebar-item mb-1">
                        <a routerLink="/manage/account" class="sidebar-link collapsed" data-bs-target="#pages"
                            aria-expanded="false">
                            Account Management
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
